
.card__content {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 600ms ease-in-out;
    height: 100%;
    width: 100%;
    padding-bottom: 100%;
    display: flex;
    justify-content: center;
}

.card__content--fliped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    cursor: pointer;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.card__front {
    font-weight: bolder;
    color: rgb(255, 255, 0);
    border: 5px white solid;
}

.card__back {
    color: rgb(255, 255, 0);
    border: 5px white solid;
    font-weight: bolder;
    transform: rotateY(180deg);
}