.gride {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .2rem;
    max-width: 550px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}

.text-game {
    width: 250px;
    cursor: default;
}